.title {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 35px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
}
.rating {
  margin-left: 5px;
}

.rating_container {
  display: flex;
}

.overview:hover {
  overflow-y: auto;
}
.overview {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  height: 120px;
  overflow-y: hidden;
  margin: 10px 0 0;
}
